body{
padding: 0;
margin: 0;
background: linear-gradient(to bottom, #3333ff 0%, #3366ff 100%);
}
canvas{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -10;
}

#title_name{
  height: 60;
position: fixed;
width: 100%;
top: 26%;
text-align: center;
color: white;
font-family:"Lucida Console", Monaco, monospace;
font-size: 30px;
animation-name: fade;
animation-duration: 0.5s;
}


@keyframes fade {
    0%   {top: 60%;  opacity: 0; }
    100%  {top:26%;  opacity: 100; }
}

@keyframes wiggle {
    0%   {left: 0.2%;}
    50% {left: -0.2%;}
    100%  {left:0.2%;}
}

@keyframes opac {
    0%   {opacity: 0;}
    50% { opacity: 100;}
    100%  {opacity: 0;}
}


#msg_box{
  position: fixed;
  top: 30%;
  left: 0%;
  width: 100%;
  height: 10%;
  outline: none;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  color: #fff;
  font-size: 60px;
  letter-spacing: 2px;

}


#detect_input{
  position: absolute;
  top: 70%;
  left: 50%;
  width: 280px;
  height: 30px;
  margin: -18px 0 0 -150px;
  padding: 5px 10px;
  outline: none;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3);
  border: 2px solid #fff;
  border-radius: 3px;
  color: #fff;
  font-size: 26px;
  letter-spacing: 2px;
  overflow:hidden;
}



::-webkit-input-placeholder{
}
:-moz-placeholder {
}
::-moz-placeholder{
}
:-ms-input-placeholder{
}
